*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer {
    position: relative;;
    color: black;
    background: white;
    bottom: 0;
    width: 100%;
    border-top: 2px solid gray;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.col {
    padding: 15px 5em;
}

h4 {
    margin: 5px 0;
    color: gold;
}

.link:hover {
    cursor: pointer;
    color: orangered;
    transform: scale(1.1);
}

@media screen and (max-width: 840px){
    .col {
        padding: 15px 2em;
    }
}