.image-detail {
    margin-top: 100px;
    position: relative;
    padding: 20px;    
}

.left-card {
    max-width: 600px;
    margin-right: 0;
}

.right-card {
    max-width: 600px;
    margin-left: 0;
}

.image-card {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
}

.like-btn {
    background-color: gold;
    padding: 5px 10px;
    margin: 5px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    border-radius: 5px;
    border: none;
    color: black;
    outline: none;
}

.like-btn:hover {
    cursor: pointer;
}

.image-comment-form {
    width: 100%;
    margin: 20px auto;
}

input {
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
    font-family: 'Roboto Slab', serif;
}

.comment-area {
    background: rgb(243, 227, 137);
    width: 75%;
    height: 80px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;

}

.btn {
    border-radius: 0 25px 25px 0;
    height: 80px;
    width: 25%;
    border: none;
    outline: none;
    cursor: pointer;
    background: gold;
    color: black;
    left: -5px;
}

.comment-user {
    margin: 10px auto;
    font-size: large;
    font-weight: bolder;
}